{% extends 'base.html' %}

{% block content %}
<h2>Anggota</h2>

<div class="grid" style="grid-template-columns: repeat(3, 1fr);">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_259457401.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Irfan Maulana
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_265640673.jpeg" width="64px;" style="border-radius: 2rem;" />
        </div>
        Febria Roosita D.
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_256705747.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Luri Darmawan
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_272001272.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Putri H
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_272028682.jpeg" width="64px;" style="border-radius: 2rem;" />
        </div>
        Joko Sarjono S
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_277684178.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Amanat N
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_258398942.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Sutrisno Y
    </div>

</div>

{% endblock %}
