body>header {
  padding: .5rem 0;
  border-bottom: var(--pico-border-width) solid var(--pico-header-border-color);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: var(--pico-header-background);
  box-shadow: var(--pico-card-box-shadow);
}

h3.navbar {
  margin-bottom: 0.25rem;
}
h3>a {
  text-decoration: none;
}

main.container {
  margin: auto;
  grid-template-areas: "menu main";
  grid-template-columns: 1fr 4fr;
  grid-column-gap: var(--pico-grid-column-gap);
  grid-row-gap: var(--pico-grid-row-gap);
}

aside {
    border-right: 0.1rem solid var(--pico-primary-background);
}

h5.event {
  margin-top: var(--pico-spacing);
}


.flex {
    display: flex;
    justify-content: space-between;
}

.flex > h3 {
    align-self: center;
}
