<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/pico.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <title>{{ community.name }} - {{ title }}</title>
</head>

<body>
  <header class="is-fixed-above-lg">
    <div class="container">
      <h3 class="navbar">{{ community.name }}</h3>
    </div>
  </header>
  <main class="container grid">
    <aside id="menu" class="menu">
      <div class="container">

        <nav>
          <ul>
            <li><a href="/" class="secondary" aria-current="page">Acara</a></li>
            <li><a href="/" class="secondary">Pesan</a></li>
            <li><a href="/" class="secondary">Anggota</a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <section>

      {% block content %}{% endblock %}
    </section>
  </main>
  <footer>
    <div class="container">
      &copy; 2023
    </div>
  </footer>
</body>

</html>
