<html>

<head>
    <title>Login dengan tautan ajaib</title>
</head>

<body>
    <div>
        <p>Halo, kamu menerima email ini karena kamu meminta untuk login ke sens.us dengan email ini.</p>
        <span style="font-weight: bold;">Klik tautan berikut untuk login:</span>
        <a href="{{ host }}/members/authenticate?token={{token}}">Klik disini</a>.
        <br /><br />
        Atau copy dan paste tautan berikut ke browser Anda:
        <pre>{{ host }}/members/authenticate?token={{token}}</pre>
    </div>
</body>

</html>
