{% extends '_base.html' %}

{% block content %}

{%if info %}
<blockquote>{{ info }}</blockquote>
{%endif%}

<h2>{{ event.title }}</h2>
<div style="margin-bottom: 1rem;">
    <img src="/img/600_511177814.webp" width="600" height="338" />
</div>
<kbd>30 Agustus 2022</kbd>
<hr />
<p>Hi, JavaScript Ninjas!

    It's been a year since our last meetup! We believe that most of you also missed having an offline meetup so we are
    happy to share that for the Meetup #60, we will have it offline!

    For this event, we will have an offline meetup at AWS new office Jakarta! Thank you AWS for sponsoring the venue of
    this event.</p>

<h3>Lokasi</h3>
<p>
    <strong>Alami Sharia</strong><br />
    Plaza 89 Lt. 12 Kav.X7, <br />
    Jl. H. R. Rasuna Said No. 6 <br />
    RT.2/RW.5, Karet Kuningan
</p>

<p>
    Let's check the topics below: <br />
    Talk: <br /><br />

    ClojureScript - Ariya Hidayat, Chief Architect, Hijra <br />
    XState - Bagus Juang Wiantoro, Principal Engineer, Hijra <br />
</p>

<p>
    <strong>The talks will be in Bahasa Indonesia 🇮🇩</strong>
    <br />
    <br />

    AGENDA:<br />
    18.00 - 18.30 Registration <br />
    18.30 - 18.35 Opening <br />
    18.35 - 19.15 XState <br />
    19.15 - 20.00 ClojureScript <br />
    20.00 - 20.10 Closing <br />
    20.10 - 20.30 Networking <br />
</p>

<form action="" method="POST">
    <button type="submit">RSVP</button>
</form>
<h3>Daftar hadir</h3>

<p>Scan QR Code ini untuk menandai kehadiran kamu.</p>
<img src="/img/qr-code.png" height="400" width="400">
<br />
<a href="/jakartajs/events/detail/sensus">Klik disini untuk simulasi absensi</a>

<h3>Anggota yang hadir</h3>

<div class="grid" style="grid-template-columns: repeat(3, 1fr);">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_259457401.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Irfan Maulana
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_265640673.jpeg" width="64px;" style="border-radius: 2rem;" />
        </div>
        Febria Roosita D.
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_256705747.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Luri Darmawan
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_272001272.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Putri H
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_272028682.jpeg" width="64px;" style="border-radius: 2rem;" />
        </div>
        Joko Sarjono S
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_277684178.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Amanat N
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex;">
            <img src="/img/thumb_258398942.jpeg" width="64px;" style="border-radius: 3rem; aspect-ratio: 1/1;" />
        </div>
        Sutrisno Y
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <a href="/jakartajs/members">Lainnya...</a>
    </div>

</div>


{% endblock %}
